<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cagiant.de.demo.dao.CoffeeMapper">
    <resultMap id="BaseResultMap" type="com.cagiant.de.demo.model.Coffee">
        <id column="id" jdbcType="BIGINT" property="id"></id>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
        <result column="price" jdbcType="BIGINT" property="price"></result>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"></result>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"></result>
    </resultMap>

    <select id="getAllWithRowBounds" resultType="com.cagiant.de.demo.model.Coffee">
        select * from t_coffee order by id
    </select>
    <select id="getAllWithParam" resultType="com.cagiant.de.demo.model.Coffee">
        select * from t_coffee order by id
    </select>
    <select id="getTest" resultType="java.lang.Integer">
        select 1;
    </select>
    <select id="getCoffeeByOrderId" resultMap="BaseResultMap" parameterType="int">
        select c.* from my_test.t_coffee c join
            my_test.t_order_coffee oc on c.id = oc.items_id
            where oc.coffee_order_id = #{orderId}
    </select>
    <select id="getAllCoffee" resultMap="BaseResultMap">
        select * from my_test.t_coffee;
    </select>
    <select id="getCoffeeByNames" resultMap="BaseResultMap">
        select * from my_test.t_coffee where name in
        <foreach collection="names" item="name" open="(" close=")" separator=",">
            #{name}
        </foreach>
    </select>
    <select id="getCoffeeByCoffeeId" resultMap="BaseResultMap">
        select * from my_test.t_coffee where id = #{id}
    </select>
    <insert id="saveCoffee" useGeneratedKeys="true" keyProperty="id">
        insert into my_test.t_coffee (name, price, create_time, update_time) values (#{coffee.name}, #{coffee.price}, #{coffee.createTime}, #{coffee.updateTime});
    </insert>
</mapper>